arabic-reshaper
asgiref
asn1crypto
async-timeout
certifi
cffi
charset-normalizer
click
cryptography
cssselect2
Deprecated
Django
django-cors-headers
django-jazzmin
django-redis
djangorestframework
djangorestframework-simplejwt
future
gunicorn
heroku
html5lib
idna
lxml
mysqlclient
oscrypto
packaging
Pillow
pycparser
pyHanko
pyhanko-certvalidator
PyJWT
pyparsing
PyPDF3
python-bidi
python-dateutil
python-decouple
pytz
pytz-deprecation-shim
PyYAML
qrcode
razorpay
redis
reportlab
requests
six
sqlparse
svglib
tinycss2
tqdm
tzdata
tzlocal
uritools
urllib3
webencodings
wrapt
xhtml2pdf
